.skills_section{
    
    margin-top: 15rem ;
    text-align: center;
    height: 500px;
    
    
}
.skills_container{
    grid-template-columns: repeat(2 , 350px);
    column-gap: 5rem;
    justify-content: center;
}
.skills_content{
    margin-top: 3rem;
    background-color: var(--container-color);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
   border: 1px solid rgba(0, 0, 0, 0.1);
}

.skills_title{
    font-size: var(--normal-font-size);
    text-align: center;
    margin: 1rem;
   
}
.skills_box{ 
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills_data{
    display: flex;
    margin-top: 15px;
}
.skills .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);
}
.skills_name{
    font-size: smaller;
    line-height: 25px;
}
.skills_level{
    font-size: xx-small;
    margin: 2rem;
    
    
    
    
}


  @media screen and (max-width: 992px){
    .skills_container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    } 
  }
  
  @media screen and (max-width: 576px){
    .skills_section{
        
    }
    .skills_container{
        grid-template-columns: 1fr;
        

    }
    .skill_content{
        padding: 1.5rem;
    }
  }
  @media screen and (max-width: 350px){
    .skills_container{
       
        margin-top: 5rem;

    }
      .skills_box{
        column-gap: 1.25rem;
      }
      .skills_name{
        font-size: small;
      }
  }