.about{
    text-align: center;
    width: auto;
    height: 500px;
    margin-top: 5rem;
    
       
    
}

.about_container{
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
    column-gap: 4rem;
    margin-top: 5rem;
}

.about_img {
    width: 300px;
    border-radius: 1.5rem;
    justify-content: center;
    
}
.about_info{
    grid-template-columns: repeat(3, 140px);
    gap:  0.5rem;
    margin-bottom: 2rem;
}
.about_icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: 0.5rem;
}
.about_title{
    font-size: var(--small-font-size);
    
}
.about_subtitle{
    font-size: smaller;
}
.about_description{
    font-style: italic;
    font-weight: 100;
    padding : 0 4rem 1 0 ;
    margin-bottom: 2rem;

}

.button{
    margin-top: 1rem;
    background-color: black;
    color: #fff;
    border-radius: 5px;

}

@media screen and (max-width: 992px){
    
    .about_img{
       max-width: 155px;
        
    }
    
  }

  @media screen and (max-width: 576px){
   
    .about_info{
        grid-template-columns: repeat(3 , 1fr);
    }
    .about_description{
        padding: 0;
        
    }
    
    
  }
  @media screen and (max-width: 350px){
      .about_info{
        grid-template-columns: repeat(2 , 1fr);
      }
      .about{
        text-align: center;
    }
  }