.home_section{
    height: 600px;
}

.home_content {
    grid-template-columns: 116px repeat(2 , 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;

}
.home_container{
    row-gap: 7em;
}
.home_img{
    background: url(../../assets/profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
  
}

.button {
   background-color: black;
   color: #fff;
   width: 8rem;
   border-radius: 5%;
}


.home-social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    
}

.home-social-icon{
    font-size: 1.5rem;
    color: var(--title-color);
    
}
.home_title{
    font-size: var(--big-font-size);
    margin-bottom: 0.5rem;
    
}
.home_subtitle{
    position: relative;
    font-size: var(--h3-font-size); 
    margin-bottom: 1rem;
}
.home_description{
    max-width: 400px;
    margin-bottom: 2rem;
    font-size: medium;
}

.home_data{
   margin-top: 12%;
}

.home_scroll{
    margin-left: 9rem;
}
.wheel{
    animation: scroll 2s ease infinite;
}
.home_scroll_name{
    position: relative;
    font-weight: var(--font-medium);
    color: black;
    bottom: 25%;
    margin-left: 0.2rem;
}
.home_scroll_name:hover{
    color: #747bff;
}
@keyframes scroll{
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(3.75rem);
    }
    
}


@media screen and (max-width: 992px){
    .home_content{
      grid-template-columns: 100px repeat(2,1fr);
      column-gap: 1.25rem;
    }
    
    .home_subtitle::before{
        width: 42px;
        top: 0.8rem;
    }
    .home_description{
        max-width: initial;
        margin-bottom: 2.5rem;
    }
    .home_image{
        max-width: initial;
        margin-bottom: 2.5rem;
    }
    .home_scrool{
        margin-left: 7rem;
    }
    

}

@media only screen and (max-width: 768px) {
    .home_content{
        grid-template-columns: 0.5fr , 3fr;
        padding-top: 3.5rem;
      }
      .home_img{
        max-width: initial;
        justify-self: initial;
        max-width: auto;
    }
    .home_data{
        grid-column: 1/3;
    }
    
    .home_scroll{
        display: none;
    }
    .home-social{
        display: flex;
        grid-template-columns: max-content;
        row-gap: 1rem;
        
        
    }
  }

