@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


:root {

  --header-height: 3rem;

/* FONT */

  font-family: 'Roboto', sans-serif;
  --font-normal : 400;
  --font-medium : 500;




  /* COLOR */
    
    --container-color: #F3F3F3;
    --hue: 0;
    --sat: 0%;
    --title-color: hs1(var(--hue), var(--sat), 20%);
    --title-color-dark:hs1(var(--hue),var(--sat),0%);
    --text-color: hs1(var(--hue), var (--sat), 46%) ;
    --body-color: hs1(var(--hue), var (--sat), 98%);
 
        

  --big-font-size : 3.5rem;
  --normal-font-size : 1rem;
  --small-font-size : 1rem;

 /* Responsive typography */
 /*  @media screen and (max-width: 992px) {
  
  --big-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  } */
  
  --zz-tooltip :10;
  --zz-fixed :100;
  -zz-modal : 1000;
}
/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  


}

html {
  scroll-behavior: smooth;
}

body{
  
  margin: 0 auto;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  
}




h1 {
  font-size: 3rem;
  
}
ul {
  list-style: none;
}

a{
  text-decoration: none;
}

button {
  
  border: none;
  outline: none;
  cursor: pointer;
 
}
img {
  max-width: 100%;
  height: auto;
}
/* CSS CLASSES */
section {
  padding: 5 rem 0 rem 2 rem;

}



/* LAYOUTS */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  
  

}
.grid {
  display: grid;
  gap: 1.5rem;
}

.button {
 
  padding: 1.25rem 2rem;
  border-radius: 4rem;
  font-weight: var(--font-medium);
}

.button_icon {
  margin-left: 0.5rem;
}

a:hover {
  color: #747bff;
}






@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
    
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 992px){
  .container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 768px){
  
}
@media screen and (max-width: 576px){
  
}
@media screen and (max-width: 350px){
    .container{
      margin-left: 1rem;
      margin-right: 1rem;
    }
}