
.work_filters {
    display: flex;   
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.work_item{
    cursor: pointer;
    color: black;
    padding: 0.5rem 0.75rem;
    font-weight: medium;
    border-radius: 0.5rem;
    text-transform: capitalize;
    
}
.work_item:hover{
    background-color: black;
    color: white;
}
.work_container{
   
    grid-template-columns: repeat(2 , max-content);
    gap: 3rem;
    justify-content: center;
}

.work_card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
}

.work_img{
    max-height: 10rem;
    width: 200px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.work_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0.5rem;
}

.work_button{
    color: var(--text-color);
    font-size: small;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}
.work_button_icon{
    font-size: 1rem;
    transition: 0.4s;
}
.work_button{
    color : var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}
.work_button_icon{
    font-size: 1rem;
    transition: 0.4s;
}
.work_button:hover .work_button_icon{
    transform: translateX(0.25rem);
}

.active-work {
    background-color: var(--title-color);
    color: #747bff;
}


@media screen and (max-width: 992px){
    .work_container{
      gap: 1.25rem;
    }
    .work_card{
        padding: 1rem;
    }
    .work_img{
        margin-bottom: 1rem;
    }
    .work_title_color{
        margin-bottom: 0.25rem;
  }
  @media screen and (max-width: 768px){
    .work_container{
        grid-template-columns: max-content;
    }
  }
  @media screen and (max-width: 576px){
    .work_container{
        grid-template-columns: 1fr;
    }
        .work_img{
        width: 1000%;
        }
    }
  }
  @media screen and (max-width: 350px){
      .work_item{
        font: small;
    
    }

        .work_filters{
            column-gap: 0.25rem;
        }
    
  }